In [1]:
import os
import random

used = "used.txt"
if not os.path.exists(used):
    open(used, "w+").close()

with open(used, "r+", encoding="utf8") as f:
    used_problems = f.readlines()
    used_problems = [u.strip("\n") for u in used_problems]
    print("Used:", used_problems)

    r = [i for i in range(1, 719)]
    r = [i for i in r if str(i) not in used_problems]
    random.shuffle(r)
    now = None
    if len(r) == 0:
        print("All done!")
        exit(0)
    elif len(r) == 1:
        now = r[0]
    else:
        now = random.choice(r)
    print("Now:", now)
    f.write(str(now) + "\n")

Used: ['361', '474', '297', '340', '698', '289', '489', '627', '405', '35', '666', '33', '356', '182', '671', '149', '425', '31']
Now: 184

## Department Highest Salary
**Date**: 2018-2-11

**Task**: [184](https://leetcode.com/problems/department-highest-salary/description/)

**Detail**:

　**SQL Schema**

```sql
Create table If Not Exists Employee (Id int, Name varchar(255), Salary int, DepartmentId int)
Create table If Not Exists Department (Id int, Name varchar(255))
Truncate table Employee
insert into Employee (Id, Name, Salary, DepartmentId) values ('1', 'Joe', '70000', '1')
insert into Employee (Id, Name, Salary, DepartmentId) values ('2', 'Henry', '80000', '2')
insert into Employee (Id, Name, Salary, DepartmentId) values ('3', 'Sam', '60000', '2')
insert into Employee (Id, Name, Salary, DepartmentId) values ('4', 'Max', '90000', '1')
Truncate table Department
insert into Department (Id, Name) values ('1', 'IT')
insert into Department (Id, Name) values ('2', 'Sales')
```


　The `Employee` table holds all employees. Every employee has an Id, a salary, and there is also a column for the department Id.

```sql
+----+-------+--------+--------------+
| Id | Name  | Salary | DepartmentId |
+----+-------+--------+--------------+
| 1  | Joe   | 70000  | 1            |
| 2  | Henry | 80000  | 2            |
| 3  | Sam   | 60000  | 2            |
| 4  | Max   | 90000  | 1            |
+----+-------+--------+--------------+
```

　The `Department` table holds all departments of the company.

```sql
+----+----------+
| Id | Name     |
+----+----------+
| 1  | IT       |
| 2  | Sales    |
+----+----------+
```

　Write a SQL query to find employees who have the highest salary in each of the departments. For the above tables, Max has the highest salary in the IT department and Henry has the highest salary in the Sales department.

```sql
+------------+----------+--------+
| Department | Employee | Salary |
+------------+----------+--------+
| IT         | Max      | 90000  |
| Sales      | Henry    | 80000  |
+------------+----------+--------+
```